@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {
  --dark-blue: #1c2841;
  --gray: #f1f2f8;
  --dark-gray: #929999;
}

.App {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.App .container {
  margin: auto;
  border-radius: 0.5rem;
  background-color: var(--gray);
  width: 85%;
  min-height: 85vh;
}